html {
  height: 100%;
}

body {
  height: inherit;
}

.page {
  position: relative;
  display: flex;
}

.page::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.page__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page__heading {
  font-weight: 800;
  font-size: 116px;
  line-height: 136px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  max-width: 758px;
  margin: 0 auto;
  z-index: 2;
  align-self: flex-start;
  margin-top: 60px;
}

.page__heading::after {
  content: '*';
  letter-spacing: 0;
}

.page__heading::before {
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  border: 2px solid #000;
  display: block;
  border-radius: 20px;
  background-color: #fff;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  color: #000;
  box-shadow: 0 12px 0 #000;
  padding: 36px 44px;
  text-align: left;
  max-width: 850px;
  text-transform: none;
  position: absolute;
  letter-spacing: 0;
  white-space: pre;
  top: 180px;
  right: 20px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.page__heading:hover::before {
  opacity: 1;
  visibility: visible;
}
